numpy<=1.23.5
onnx==1.16.2
onnxsim==0.4.36
opencv-python==4.10.0.84
torch==2.4.0
torchvision==0.19.0
ultralytics==8.2.73
tensorrt==10.1.0 
tensorrt-cu12==10.1.0 
tensorrt-cu12-bindings==10.1.0 
tensorrt-cu12-libs==10.1.0
# cuda-python
# pycuda
